.angular-google-map-container {
    height: 80%;
    width: 80%;
}
#mapWindow {
    height: 100%;
    width: 90%;
}
#modalForm {
    margin: 0;
}
.fullwidth {
    .angular-google-map-container {
        width: 100%;
    }
}
