.angular-google-map-container {
    height: 80%;
    width: 80%;
}
#mapWindow {
    height: 100%;
    width: 90%;
    
    .conservatory-details {
        padding-top: 15px;
        padding-left: 20px;
    }
    .conservatory-img {
        padding-left: 20px;
    }
}
#modalForm {
    margin: 0;
}
.fullwidth {
    .angular-google-map-container {
        width: 100%;
    }
}
