<div class="modal-header">
    <form id="modalForm" class="form-inline">
        <div class="pull-right">
            <button class="btn-close" ng-click="close()"><i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i>
            </button>
        </div>
        <h4 class="modal-title" ng-bind="conservatory.denomination_sociale"></h4>
    </form>
</div>
<div class="modal-body">
    <ui-gmap-google-map class="fullwidth" center="map.coord" zoom="marker.zoom" control="myMap">
        <ui-gmap-marker idKey="marker.id" coords="marker.coord" click="onMarkerClick()">
            <ui-gmap-window show="showWindow" closeClick="closeWindow()" templateUrl="templateUrl"
                            templateParameter="conservatory">
            </ui-gmap-window>
        </ui-gmap-marker>
    </ui-gmap-google-map>
</div>
