$main-color: #8B668B;

#table {
    margin: 0;
}
#custPagination {
    margin: 0 0 10px 0;
    color: black;
    & > li > a,a:hover {
        color: black;
    }
}
.clickable {
    cursor: pointer;
}

th.clickable {
    &:hover {
        background-color: grey;
    }
}

.pagination > .active {
    > a, > span {
        &, &:focus, &:hover {
            background-color: $main-color;
            border-color: $main-color;
        }
    } 
}