<html ng-app="conservatories" ng-controller="appController as $ctrl" ng-strict-di="true">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=11"/>

    <title translate="title"></title>

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="Conservatories">
    <meta name="application-name" content="Conservatories">
    <meta name="theme-color" content="#ffffff">

</head>

<body class="main-view overflow-hidden">

<div class="display-row responsive-layout-lg">
    <md-nav-bar layout-gt-xs md-selected-nav-item="currentNavItem"
                aria-label="{{'navigate.title' | translate}}" ng-cloak>
        <md-nav-item md-nav-sref="dashboard" name="dashboard"
                     aria-label="{{'conservatories.title' | translate}}" class="upper-first-letter">
            {{'conservatories.title' | translate}}
        </md-nav-item>
        <md-nav-item md-nav-sref="charts" name="charts" aria-label="{{'analysis' | translate}}"
                     class="upper-first-letter">
            {{'analysis' | translate}}
        </md-nav-item>
        <md-nav-item md-nav-sref="contact" name="contact"
                     aria-label="{{'contact.title' | translate}}"
                     class="upper-first-letter">
            {{'contact.title' | translate}}
        </md-nav-item>
    </md-nav-bar>

    <div>
        <button class="icon-btn" ng-click="$ctrl.setLocale('fr')">
            <img class="icon-img" src="./assets/img/france-logo.svg">
        </button>
        <button class="icon-btn" ng-click="$ctrl.setLocale('en')">
            <img class="icon-img" src="./assets/img/angleterre-logo.svg">
        </button>
    </div>

</div>

<div class="row layout-padding overflow-auto">
    <div class="height-auto" ui-view></div>
</div>

<md-fab-toolbar class="responsive-layout-xs fixed-bottom-left" md-direction="right">
    <md-fab-trigger class="align-with-text">
        <md-button aria-label="{{'navigate.navigate' | translate}}" class="md-fab md-primary">
            <md-icon md-font-set="material-icons">view_headline</md-icon>
        </md-button>
    </md-fab-trigger>

    <md-toolbar>
        <md-fab-actions class="md-toolbar-tools">

            <md-button ui-sref="dashboard" aria-label="{{'conservatories.title' | translate}}"
                       class="md-icon-button">
                <md-icon md-font-set="material-icons">list</md-icon>
            </md-button>
            <md-button ui-sref="charts" aria-label="{{'analysis' | translate}}"
                       class="md-icon-button">
                <md-icon md-font-set="material-icons">equalizer</md-icon>
            </md-button>
            <md-button ui-sref="contact" aria-label="{{'contact.title' | translate}}"
                       class="md-icon-button">
                <md-icon md-font-set="material-icons">contacts</md-icon>
            </md-button>
            <button ng-click="$ctrl.setLocale('fr')">
                <img class="icon-img" src="./assets/img/france-logo.svg">
            </button>
            <button ng-click="$ctrl.setLocale('en')">
                <img class="icon-img" src="./assets/img/angleterre-logo.svg">
            </button>

        </md-fab-actions>
    </md-toolbar>
</md-fab-toolbar>

</body>

</html>
