@import '../../assets/sass/mixins';
@import '../../assets/sass/variables';

.conservatory-name {
  margin: 0 0 3px;
}

.images {
  @include flex-row;
  justify-content: center;
  width: 100%;
}

.search-bar {
  @include flex-row;
  align-items: center;
  width: 100%;

  .search-select,
  .pagination-content {
    padding-bottom: 10px;
  }

  .search-select {
    flex: 1;
    margin: 0;
  }

  .pagination-content {

    .pagination-btn {
      background-color: $main-color;

      &.md-button:not([disabled]).md-icon-button:hover {
        background-color: $red;
      }
    }
  }
}
