@import 'mixins';
@import 'variables';
@import '../../scripts/conservatory/conservatory';
@import '../../scripts/dashboard/dashboard';
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';
@import './material';
@import '../../../node_modules/angular-material/angular-material.min.css';

body {

  background: transparent;

  * {
    font-family: $font-stack;
    font-size: small;
  }

  a {
    color: $main-color;
  }

  md-dialog {
    max-width: 100%;
  }

  &.main-view {
    position: relative;

    .fixed-bottom-left {
      bottom: 0;
      position: fixed;
      right: 0;
      width: 100%;
    }
  }

  .overflow-hidden {
    height: 100%;
    overflow: hidden;
  }

  .height-auto {
    height: auto;
  }

  .overflow-auto {
    overflow: auto;
  }

  .padding-10 {
    padding: 10px;
  }

  .upper-first-letter {
    &::first-letter {
      text-transform: capitalize;
    }
  }

  .width-250 {
    width: 250px;
  }

  .responsive-layout-lg {
    @media screen and (max-width: $responsive-width) {
      display: none;
    }
  }

  .responsive-layout-xs {
    @media screen and (min-width: $responsive-width) {
      display: none;
    }
  }

  .header-img {
    @media screen and (max-width: $responsive-width) {
      max-height: 200px;
      max-width: 150px;
    }
    @media screen and (min-width: $responsive-width) {
      max-height: 250px;
      max-width: 200px;
    }
  }
}
