@import '../../scripts/dashboard/dashboard';
@import '../../scripts/conservatory/conservatory';

$font-stack: arial;
$main-color: #8B668B;

@mixin margins($top, $bottom, $left) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-left: $left;
}

* {
  font-family: $font-stack;
  font-size: small;
}

body {
  background-color: #FFF;

  height: 100%;
  width: 100%;

  .navbar {

    display: inline-flex;
    width: 100%;

    @media screen and (max-width: 500px) {
     flex-flow: column nowrap;
    }
    @media screen and (min-width: 500px) {
      flex-flow: row nowrap;
    }

    .navbar-header, .navbar-default {
      width: 100%;
    }
    .navbar-static-top {
      margin-bottom: 0;
    }
  }

  .padding-10 {
    padding: 10px;
  }
}

#wrapper {
  background-color: #f8f8f8;
}

.clickable {
  cursor: pointer;
}

a {
  color: $main-color;
}

.popup-img {
  max-height: 150px;
  max-width: 150px;
}

.header-img {
  max-height: 250px;
  max-width: 200px;
}

.center {
  text-align: center;
}

#alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
