@import '../../scripts/dashboard/dashboard';
@import '../../scripts/conservatory/conservatory';
@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

$font-stack: arial;
$main-color: #8B668B;
$responsive-width: 500px;

@mixin margins($top, $bottom, $left) {
  margin-top: $top;
  margin-bottom: $bottom;
  margin-left: $left;
}

@mixin flex-row {
  display: inline-flex;
  flex-flow: row nowrap;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

a {
  color: $main-color;
}

.header-img {
  @media screen and (max-width: $responsive-width) {
    max-height: 200px;
    max-width: 150px;
  }
  @media screen and (min-width: $responsive-width) {
    max-height: 250px;
    max-width: 200px;
  }
}

* {
  font-family: $font-stack;
  font-size: small;
}

body {
  background-color: #FFF;

  height: 100%;
  width: 100%;

  .navbar {

    display: inline-flex;
    width: 100%;
    border: 0;
    background: transparent;

    @media screen and (max-width: $responsive-width) {
      flex-flow: column nowrap;
      align-items: center;
    }

    @media screen and (min-width: $responsive-width) {
      flex-flow: row nowrap;
      .navbar-default {
        width: 100%;

        .menu-bar {
          @include flex-row();
        }
        .sidebar-nav {
          padding: 5px;
        }
      }
    }

    .navbar-toggle {
      width: 47px;
    }

    .navbar-static-top {
      margin-bottom: 0;
    }
  }

  .padding-10 {
    padding: 10px;
  }
}
